<html>
    <head>
        <title>Valentina's Django Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Valentina's Django Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Wow what a process. I knew programming was going to be challenging, but this is like running a mental marathon! It's okay, I think I'm almost to the finishline and the rest should be more fun :) </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>TBD</p>
        </div>
    </body>
</html>
